In [1]:
import pandas as pd
import numpy as np

In [5]:
df =  pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header = None)

In [6]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
1. sepal length in cm 
2. sepal width in cm 
3. petal length in cm 
4. petal width in cm 
5. class: 
-- Iris Setosa 
-- Iris Versicolour 
-- Iris Virginica

In [10]:
df.columns = ['sepal_le', 'sepal_wi', 'petal_le', 'pental_wi','label']

   sepal_le  sepal_wi  petal_le  pental_wi        label
0       5.1       3.5       1.4        0.2  Iris-setosa
1       4.9       3.0       1.4        0.2  Iris-setosa
2       4.7       3.2       1.3        0.2  Iris-setosa
3       4.6       3.1       1.5        0.2  Iris-setosa
4       5.0       3.6       1.4        0.2  Iris-setosa